@media(min-width:1200px){
  .logo{
    width: 150px;
    float: right;
  }
  .logo:hover{
    opacity: 0.7;
  }
  
  .arrow {
    width: 85px;
    padding: 15px 0 0 10px;
  }
  .arrow:hover{
    opacity: 0.7;
  }
  
  
  /* SECTION */
  
  
  .infos{
    width: 560px;
  }
  h2{
    font-size: 40px;
  }
  .infos p {
    font-size: 16px;
  }
  
  .add{
    width: 40px;
    float: right;
  }
  
  h3{
    padding: 30px 0 15px 0;
  }
  
  .pessoais, .caminhao, .endereco{
    width: 560px;
  }
  
  .cadastrar{
    padding-top: 45px;
    width: 295px;
  }
  
  input{
    height:60px;
    width: 560px;
    border-radius: 6px;
    border:none;
  
    background-color: #e7e6e6;
    margin-bottom: 5px;
  }
  
  input:hover{
    background-color: #d5d4d4;
  }
  
  #txtRG{
    width: 320px;
  }
  #txtOE{
    width: 227px;
    margin-left: 5px;
  }
  
  #txtModelo, #txtAno, #txtCidade, #txtComp{
    width: 320px;
  }
  #txtPlaca, #txtCor, #txtEstado, #txtNum{
    width: 227px;
    margin-left: 5px;
  }
  
  
  input::placeholder{
    color: #6cc180;
    font-size: 14px;
    padding: 2px 0 0 6px;
    float:left;
  }
  
  #botaoCad{
    width: 300px;
    height: 55px;
  
    color:white;
    background-color: #54c26e;
  }
  
  #botaoCad:hover{
    background-color: #1da13c;
  }

  footer{
    margin-top: 100px;
  }
}
@media(min-width:769px) and (max-width:1199px){
  .logo{
    width: 150px;
    float: right;
  }
  .logo:hover{
    opacity: 0.7;
  }
  
  .arrow {
    width: 85px;
    padding: 15px 0 0 10px;
  }
  .arrow:hover{
    opacity: 0.7;
  }
  
  /* SECTION */
  
  section{
    height: 1340px;
  }
  
  .infos{
    width: 440px;
  }
  h2{
    font-size: 40px;
  }
  .infos p {
    font-size: 16px;
  }
  
  .add{
    width: 40px;
    float: right;
  }
  
  h3{
    padding: 30px 0 15px 0;
  }
  
  .pessoais, .caminhao, .endereco{
    width: 440px;
  }
  
  .cadastrar{
    padding-top: 45px;
    width: 295px;
  }
  
  input{
    height:50px;
    width: 440px;
    border-radius: 6px;
    border:none;
  
    background-color: #e7e6e6;
    margin-bottom: 5px;
  }
  
  input:hover{
    background-color: #d5d4d4;
  }
  
  #txtRG{
    width: 277px;
  }
  #txtOE{
    width: 150px;
    margin-left: 5px;
  }
  
  #txtModelo, #txtAno, #txtCidade, #txtComp{
    width: 262px;
  }
  #txtPlaca, #txtCor, #txtEstado, #txtNum{
    width: 165px;
    margin-left: 5px;
  }
  
  
  input::placeholder{
    color: #6cc180;
    font-size: 15px;
    padding: 2px 0 0 6px;
    float:left;
  }
  
  #botaoCad{
    width: 300px;
    height: 55px;
  
    color:white;
    background-color: #54c26e;
  }
  
  #botaoCad:hover{
    background-color: #1da13c;
  }
  
  footer{
    margin-top: 80px;
  }
}

@media(min-width:425px) and (max-width:768px){
  .logo{
    float: right;
    padding-top: 10px;
  }
  .logo:hover{
    opacity: 0.7;
  }
  
  .arrow {
    width: 60px;
    height: 60px;
    padding: 30px 0 0 10px;
  }
  .arrow:hover{
    opacity: 0.7;
  }
  
  
  /* SECTION */
   
  .infos{
    width: 340px;
  }
  h2{
    font-size: 27px;
  }
  .infos p {
    font-size: 14px;
  }
  
  .add{
    width: 35px;
    float: right;
  }
  
  h3{
    padding: 30px 0 15px 0;
  }
  
  .pessoais, .caminhao, .endereco{
    width: 340px;
  }
  
  .cadastrar{
    padding-top: 45px;
    width: 295px;
  }
  
  input{
    height:50px;
    width: 340px;
    border-radius: 6px;
    border:none;
  
    background-color: #e7e6e6;
    margin-bottom: 5px;
  }
  
  input:hover{
    background-color: #d5d4d4;
  }
  
  #txtRG{
    width: 181px;
  }
  #txtOE{
    width: 145px;
    margin-left: 5px;
  }
  
  #txtModelo, #txtAno, #txtCidade, #txtComp{
    width: 181px;
  }
  #txtPlaca, #txtCor, #txtEstado, #txtNum{
    width: 145px;
    margin-left: 5px;
  }
  
  
  input::placeholder{
    color: #6cc180;
    font-size: 11px;
    padding: 2px 0 0 6px;
    float:left;
  }
  
  #botaoCad{
    width: 300px;
    height: 55px;
  
    color:white;
    background-color: #54c26e;
  }
  
  #botaoCad:hover{
    background-color: #1da13c;
  }

  footer{
    margin-top: 100px;
  }
  
}

@media(max-width:424px){
  .logo{
    float: right;
    padding-top: 10px;
  }
  .logo:hover{
    opacity: 0.7;
  }
  
  .arrow {
    width: 40px;
    height: 40px;
    padding: 30px 0 0 10px;
  }
  .arrow:hover{
    opacity: 0.7;
  }
  
  
  /* SECTION */
   
  .infos{
    width: 340px;
  }
  h2{
    font-size: 25px;
  }
  .infos p {
    font-size: 12px;
  }
  
  .add{
    width: 32px;
    float: right;
  }
  
  h3{
    padding: 28px 0 15px 0;
  }
  
  .pessoais, .caminhao, .endereco{
    width: 340px;
  }
  
  .cadastrar{
    padding-top: 45px;
    width: 295px;
  }
  
  input{
    height:50px;
    width: 320px;
    border-radius: 6px;
    border:none;
  
    background-color: #e7e6e6;
    margin-bottom: 5px;
  }
  
  input:hover{
    background-color: #d5d4d4;
  }
  
  #txtRG{
    width: 161px;
  }
  #txtOE{
    width: 145px;
    margin-left: 5px;
  }
  
  #txtModelo, #txtAno, #txtCidade, #txtComp{
    width: 161px;
  }
  #txtPlaca, #txtCor, #txtEstado, #txtNum{
    width: 145px;
    margin-left: 5px;
  }
  
  
  input::placeholder{
    color: #6cc180;
    font-size: 11px;
    padding: 2px 0 0 6px;
    float:left;
  }
  
  #botaoCad{
    width: 300px;
    height: 55px;
  
    color:white;
    background-color: #54c26e;
  }
  
  #botaoCad:hover{
    background-color: #1da13c;
  }

  footer{
    margin-top: 80px;
  }
}